<section class="bid-category-main bid-client-dpid-main bg-white d-none">
  <div class="container">
    <div class="card">
      <div class="card-heading d-flex justify-content-between" [ngClass]="!IsShowDpid ? 'align-items-center':''">
        <h3 class="text-primary text-bold roboto-bold">Client ID</h3>
        <div class="align-items-center">
          <div class="d-flex mb-2" *ngIf="IsShowDpid">
            <h5 class="text-primary text-bold roboto-bold pr-1">Your DP ID - </h5>
            <h5 class="text-primary text-regular roboto-regular">{{DPID}}</h5>
          </div>
          <div class="d-flex">
            <h5 class="text-primary text-bold roboto-bold pr-1">Your Client ID - </h5>
            <h5 class="text-primary text-regular roboto-regular">{{ClientId}}</h5>
          </div>
        </div>
      </div>
      <!-- <div class="card-body">
        <form class="bid-category-form">
          <div class="form-group form-select client-id-dropdown ml-auto">
            <ngx-select class="select-control" [items]="clientId" placeholder="Select your client ID">
            </ngx-select>
          </div>
        </form>
      </div> -->
    </div>
  </div>
</section>