.Custom .card-heading.CustomHead::after {
    width: 18px;
    height: 10px;
    background: none !important; 
    background-size: 18px;
    cursor: pointer;
}
.Show{
    height: 30px !important;
    width: 30px !important;
}
.Arrow{
    height: 9px !important;
    width: 16px !important;
}
.Show .Arrow::after {
     transform: rotate(180deg); 
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.pending{
  color: #FFC847;
}
.reject{
  color: red;
}
.accept{
  color: #25C192;
}