<!-- IPO Upcoming Start -->
<div class="ipo-upcoming data-list-main">
  <div class="container-full">
    <ul class="ipo-data-list ipo-upcoming-list">
      <li *ngFor="let d of data">
        <div class="d-flex align-items-center justify-content-between mb-1">
          <!-- <h4 class="company-name" title="{{d.COMPANY_NAME}}">
            <a (click)="OpenCompanyURL(d.CompanyURL)" class="text-primary text-regular roboto-regular">{{d.COMPANY_NAME}}</a>
          </h4> -->
          <h4 *ngIf="d.COMPANY_NAME.length <= 20" class="company-name">
            <a (click)="OpenCompanyURL(d.CompanyURL)" class="text-primary text-regular roboto-regular">{{d.COMPANY_NAME}}</a>
          </h4>
          <h4 *ngIf="d.COMPANY_NAME.length > 20" class="company-name" title="{{d.COMPANY_NAME}}">
            <a (click)="OpenCompanyURL(d.CompanyURL)" class="text-primary text-regular roboto-regular">{{d.COMPANY_NAME}}</a>
          </h4>
          <h4 class="text-primary text-regular roboto-regular">
            <span>&#8377;{{d.LowerPriceBand}}</span>
            <span> - &#8377;{{d.UpperPriceBand}}</span>
          </h4>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-2">
          <div class="d-flex align-items-center">
            <span class="h6 text-gray text-medium roboto-medium text-uppercase">LOT SIZE</span>
            <img src="./assets/images/icons/briefcase.svg" class="img-fluid px-1 Briefcase" alt="Briefcase" />
            <span class="h6 text-gray text-medium roboto-medium">{{d.BidLot}}</span>
          </div>
          <span class="h6 text-gray text-medium roboto-medium pr-1" *ngIf="d.IssueStartDate == '01-01-099' || d.IssueStartDate == '01-01-199'">To be Announced</span>
          <span class="h6 text-gray text-medium roboto-medium pr-1" *ngIf="d.IssueStartDate != '01-01-099' && d.IssueStartDate != '01-01-199'">{{d.IssueStartDate}} to {{d.IssueEndDate}}</span>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <a *ngIf="d.CompanyURL != '' && d.CompanyURL != undefined && d.CompanyURL != null" (click)="OpenCompanyURL(d.CompanyURL)" class="d-flex align-items-center">
            <h5 class="text-secondary text-medium roboto-medium mr-2">Company Details</h5>
            <img src="./assets/images/icons/export-icon.svg" class="img-fluid ExportIcon" alt="Export">
          </a>
          <a *ngIf="d.DraftProsepectNotePath != '' && d.DraftProsepectNotePath != undefined && d.DraftProsepectNotePath != null" (click)="DownloadProductNote(d.COMPANY_ID,d.DraftProsepectNotePath)" class="d-flex align-items-center">
            <h5 class="text-secondary text-medium roboto-medium mr-2">{{d.DraftProsepectNotePath}}</h5>
            <img src="./assets/images/icons/export-icon.svg" class="img-fluid ExportIcon" alt="Export">
          </a>
        </div>
      </li>
     </ul>
  </div>
</div>
<!-- IPO Upcoming End -->
